html {
  scroll-behavior: smooth;
}

.projects-div .project {
  position: relative;
  overflow: hidden;
}

.projects-div .project img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 300ms;
}
.projects-div .project .image-para {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  opacity: 0;
  transition: all 300ms;
}

.projects-div .project:hover p {
  opacity: 1;
}